{%- extends "base.html" %}
{%- block title %}FunWriter{%- endblock %}
{%- block head %}
    {{- super() }}
    <style type="text/css">
    html {
        background-color: #111111;
        background: url(/funwriter-background.jpg) no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    </style>
    <script type="text/javascript">
        function generate() {
            var xmlhttp;
            if (window.XMLHttpRequest) {
                xmlhttp = new XMLHttpRequest();
            } else {
                xmlhttp = new ActiveXObject("Microsoft.XMLHTTP");
            }
            xmlhttp.onreadystatechange = function() {
                if (xmlhttp.readyState == 4 && xmlhttp.status == 200) {
                    document.getElementById("text").innerHTML = xmlhttp.responseText;
                }
            }
            xmlhttp.open("GET", "/funwriter/generate?tag=" + Math.random(), true);
            xmlhttp.send();
            return false;
        }
    </script>
{%- endblock %}
{%- block content %}
    <div class="block">
        <a class="button_long" href="/funwriter/" onclick="return generate();">Generate</a>
        <div id="text" style="margin: 3px; padding: 3px;">
            {%- if text %}
            {{ text|e }}
            {%- endif %}
        </div>
    </div>
{%- endblock %}
